body {
  width: min(75ch, 100% - 2rem);
  margin-inline: auto;
  background-color: #025464;
  color:#F8F1F1;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding-top: 1%;
}

h1 {
  color: #E57C23;
}

.link, .link:visited, .link:active {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color:#E57C23;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.navbar > .link {
  font-weight: 100;
  font-size: 1.5rem;
}