body {
  width: min(75ch, 100% - 2rem);
  margin-inline: auto;
  /* background-color: #025464; */
  background-color: #27374D;
  /* color:#F8F1F1; */
  color:white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  padding-top: 1%;
}

h1 {
  color: #DDE6ED;
  margin: 50px 0;
  text-align: center;
  font-size: 3.5rem;
}

h2 {
  color: #DDE6ED;
  margin: 50px 0;
  text-align: center;
}

.listrow {
  text-align: center;
}


.leaguelink, .leaguelink:visited, .leaguelink:active {
  color: inherit;
  text-decoration: none;
  margin: 0 auto;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.leaguelink:hover {
  color:#27374D;
}

.navbar>.link:hover {
  color:#526D82 ;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.navbar > .link  {
  font-weight: 100;
  font-size: 1.5rem;
  font-kerning: none;
  color: inherit;
  text-decoration: none;
  vertical-align: center;
}

.container {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.inputfields {
  margin: 17px 0;
  padding: 5px;
  border-radius: 10px;
}

.notfound {
  text-align: center;
}

.header {
  margin: 35px 0;
}

/* -----left right arrows on carousel----- */
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  font-size: inherit;
  left: 10px;
  z-index: 2;
  color: blueviolet;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  font-size: inherit;
  right: 10px;
  z-index: 2;
  color: blueviolet;
}
/* -----left right arrows on carousel----- */


/* --------------------------- https://loading.io/css/*/
.loader {
  text-align: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* --------------------------- */